{{#items}}
## {{company}}

**{{placement_day}}**

**Author details:** {{department}}, {{course}}

{{#departments_open}}
**Open for:** {{departments_open}}
{{/departments_open}}

{{#source_info}}
**Source information:** {{source_info}}
{{/source_info}}

{{#package}}
**Package:** {{package}}
{{/package}}

{{#posting}}
**Locations:** {{posting}}
{{/posting}}

{{#dual_degree_handicap}}
**Dual degree specific information:** {{dual_degree_handicap}}
{{/dual_degree_handicap}}

{{#acad_credentials}}
**Academic credentials:** {{acad_credentials}}
{{/acad_credentials}}

{{#extra_acads}}
**Extra academic credentials:** {{extra_acads}}
{{/extra_acads}}

{{#particular_skills}}
**Particular skills:** {{particular_skills}}
{{/particular_skills}}

{{#importance_criteria}}
**Notes:** {{importance_criteria}}
{{/importance_criteria}}

{{#parting_advice}}
**Parting advice:**

{{parting_advice}}
{{/parting_advice}}
{{/items}}
